<header>
    <img src="/stylesheets/Logo_horizontal_RGB.png" alt="OpenTable Logo" id="logo">
</header>


<main>
    <h1>URL Generator:</h1>
    <form onsubmit="create()" autocomplete="off">
        <div class="region">
            <label for="region">Region</label>
            <select name="region" id="region">
                <option value="com" selected>US/CA</option>
                <option value="co.uk">UK</option>
                <option value="com.au">AU</option>
                <option value="jp">JP</option>
                <option value="ie">IE</option>
                <option value="de">DE</option>
            </select>
        </div>
        <div class="rid">
            <label for="rid">Resto ID: </label>
            <input type="text" name="rid" id="rid">
        </div>
        <div class="date">
            <label for="dates">Date: </label>
            <input type="text" name="date" id="datepicker">
        </div>
        <div class="time">
            <label for="time">Time: </label>
            <select name="time" id="time">
                <option value="07:00">07:00 am</option>
                <option value="07:30">07:30 am</option>
                <option value="08:00">08:00 am</option>
                <option value="08:30">08:30 am</option>
                <option value="09:00">09:00 am</option>
                <option value="09:30">09:30 am</option>
                <option value="10:00">10:00 am</option>
                <option value="10:30">10:30 am</option>
                <option value="11:00">11:00 am</option>
                <option value="11:30">11:30 am</option>
                <option value="12:00">12:00 am</option>
                <option value="12:30">12:30 pm</option>
                <option value="13:00">1:00 pm</option>
                <option value="13:30">1:30 pm</option>
                <option value="14:00">2:00 pm</option>
                <option value="14:30">2:30 pm</option>
                <option value="15:00">3:00 pm</option>
                <option value="15:30">3:30 pm</option>
                <option value="16:00">4:00 pm</option>
                <option value="16:30">4:30 pm</option>
                <option value="17:00">5:00 pm</option>
                <option value="17:30">5:30 pm</option>
                <option value="18:00">6:00 pm</option>
                <option value="18:30">6:30 pm</option>
                <option value="19:00" selected>7:00 pm</option>
                <option value="19:30">7:30 pm</option>
                <option value="20:00">8:00 pm</option>
                <option value="20:30">8:30 pm</option>
                <option value="21:00">9:00 pm</option>
                <option value="21:30">9:30 pm</option>
                <option value="22:00">10:00 pm</option>
                <option value="22:30">10:30 pm</option>
                <option value="23:00">11:00 pm</option>
                <option value="23:30">11:30 pm</option>
            </select>
        </div>
        <div class="party">
            <label for="party">Size: </label>
            <select name="party" id="party">
                <option value="1">1</option>
                <option value="2" selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

            </select>
        </div>

        <div class="source">
            <label for="source">Source: </label>

            <select name="source" id="source">
                <option value="">None</option>
                <option value="10792">Facebook</option>
                <option value="10795">Twitter</option>
                <option value="10813">TrackID 1</option>
                <option value="10816">TrackID 2</option>
                <option value="10819">TrackID 3</option>
                <option value="16891">TrackID 4</option>
                <option value="16895">TrackID 5</option>
            </select>
        </div>


        <div class="submit">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
    <div class="urllabel"></div>
    <div id="urlcontainer"></div>
    <div class="rrlabel"></div>
    <div id="rrcontainer"></div>

</main>

<script src="/javascripts/script.js"></script>